/* 下拉多选框 */
.multibox {
    position: relative;
    border: 1px solid #ccc;
    width: 2.8rem;
    height: 0.3rem;
}

.multibox-text-outer {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.multibox-icon {
    background-image: url(icon-choice.png);
    position: absolute;
    left: 2.5rem;
    top: 0;
    width: 0.29rem;
    height: 0.3rem;
    background-position: center center;
    background-repeat: no-repeat;
}

.multibox-text {
    background-color: #fff;
    height: 100%;
    font-size: 0.16rem;
    line-height: 0.3rem;
    position: absolute;
    top: 0;
    left: 0;
    outline: none;
    width: 2.35rem;
    padding-left: 0.1rem;
    padding-right: 0.1rem;
    overflow: hidden;
}

.multibox-text-outer.disabled div,
.multibox-text-outer.disabled input {
    background-color: #eee;
    color:#777;
}

.multibox-panel {
    position: absolute;
    width: 3.8rem;
    margin-left: -9999px;
    border: 1px solid #e2e2e2;
    top: 0.25rem;
    left: 0;
    z-index: 1;
    background-color: #fff;
    font-size: 0;
}

.multibox-panel.active {
    margin-left: -1px;
}

.multibox-panel .all {
    margin-top: 0.1rem;
}

.multibox-panel .choice {
    display: inline-block;
    margin-left: 0.1rem;
    margin-bottom: 0.1rem;
    font-size: 0.16rem;
    font-family: SimSun;
    min-width: 1.6rem;
    height: 0.25rem;
    line-height: 0.25rem;
    cursor: pointer;
}

.multibox-panel .choice cite {
    float: left;
    margin-bottom: -0.05rem;
    margin-right: 0.1rem;
    width: 0.25rem;
    height: 0.25rem;
    background-image: url(icon-checkbox.png);
    background-size: 100% 100%;
}

.multibox-panel .choice.active cite {
    background-image: url(icon-checkbox-checked.png);
}

.multibox-panel ul {
}

.multibox-panel ul li.choice {
}

.multibox-panel .mask {
    position: absolute;
    margin-right: 2px;
    width: 2.8rem;
    z-index: 2;
    height: 0;
    top: -1px;
    left: 0;
    right: 0;
    border-top: 1px solid #fff;
}
